<ion-header>
    <ion-title>Chapter III</ion-title>
</ion-header>


<ion-content padding>
<H1>Tres Colores</H1>

<img src="http://lorempixel.com/500/300/animals/3">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum porro adipisci, mollitia fugiat natus similique repellendus ut excepturi voluptates illum asperiores! Voluptatibus fuga ea blanditiis. Quam rem numquam eos quibusdam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At modi minus in inventore, earum tenetur impedit? Maxime doloremque assumenda veritatis voluptatibus iste? Quos odio itaque in laudantium, dolores inventore beatae! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui perferendis quam repellendus odio. Nemo minus soluta ipsum repellat pariatur non, possimus laborum, asperiores sint aspernatur cum velit dolore nulla aliquam.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil id rerum vero eius quia illum voluptates ad fugit error quisquam, quae repellendus, et ducimus facilis! Id nesciunt iste provident voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quod dicta error ea dolorem illo temporibus voluptatum magnam sequi accusantium modi veritatis harum odit eius tempore, iure deserunt, inventore ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, voluptates? Aliquam, voluptatem inventore incidunt explicabo maiores cumque tempore obcaecati, excepturi quae praesentium aut unde soluta quis quo odit modi cupiditate?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto temporibus odio suscipit, doloremque a deleniti vel libero mollitia facere molestiae iure aspernatur eligendi rem, iusto autem sunt magnam, nam atque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aliquam mollitia, et corporis quo quia sed repellat id eos voluptatum sequi autem inventore ut impedit nostrum blanditiis quae provident ullam!</p>

<ion-button [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
<ion-button [routerDirection]="forward"[routerLink]="['/chapter2']">Chapter II</ion-button>
<ion-button [routerDirection]="forward"[routerLink]="['/chapter4']">Chapter IV</ion-button>

<br>

<footer class="pg">Page III</footer>
</ion-content>
