<ion-header>

    <ion-title>Chapter II</ion-title>

</ion-header>


<ion-content padding class="ch2">
<h2>Dos Amigas</h2>


<img src="http://lorempixel.com/500/300/animals/2">

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto laborum unde cumque distinctio animi modi saepe asperiores velit esse, corrupti illo laudantium dolorum at magni minima iste suscipit. Animi, porro.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis, quidem repellat deleniti, minus eaque, accusamus quisquam provident est nisi atque numquam. Laborum dolore natus incidunt ex, cupiditate accusamus pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odit quas magni aliquam dicta amet. Omnis aliquam repellat, dolore maiores provident eaque neque optio expedita pariatur quisquam, saepe nesciunt?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic recusandae illum minima reiciendis, deserunt ad eveniet veniam laboriosam beatae nisi, sunt facere fugiat ipsa necessitatibus natus adipisci minus aliquam. Est!</p>


<ion-button [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
<ion-button [routerDirection]="forward"[routerLink]="['/chapter1']">Chapter I</ion-button>
<ion-button [routerDirection]="forward"[routerLink]="['/chapter3']">Chapter III</ion-button>

<footer class="pg">Page II</footer>
</ion-content>
