<ion-header>
    <ion-title>Chapter I</ion-title>
</ion-header>
<ion-content padding>
  <h2>Una Broma</h2>
  
 
  
  <img src="http://lorempixel.com/500/300/animals/1">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa veniam vero libero officiis, soluta quas esse suscipit obcaecati at, autem ducimus consectetur, ex incidunt atque itaque rem porro sint.</p>
  <br>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam facilis, nihil ea sunt nisi pariatur hic illo? Laboriosam soluta quas, minima beatae repudiandae labore consectetur adipisci facilis nisi sequi totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nulla harum expedita qui suscipit, voluptas quasi ratione impedit voluptatem nostrum, officia odio adipisci eaque numquam molestiae. Repudiandae numquam repellat aliquam!</p>
  <br>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>


  <ion-button [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  <ion-button [routerDirection]="forward"[routerLink]="['/chapter2']">Chapter II</ion-button>
  
  <footer class="page">Page I</footer> 

</ion-content>
