<ion-header>
    <ion-title>Chapter IV</ion-title>
</ion-header>


<ion-content padding>
<h1>Cuatro Personas</h1>

<img src="http://lorempixel.com/500/300/animals/4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, aliquam sit? Sunt vitae corporis, rem fugit consectetur natus enim! Nobis quam labore tenetur quaerat. Numquam velit laboriosam et quaerat iure.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque sapiente officia laboriosam asperiores sunt dolore? Possimus necessitatibus at maiores inventore officia corrupti, repellat dolorum aut esse nulla harum, vitae quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nesciunt ab dolor maiores, quaerat qui provident quos debitis distinctio temporibus hic corrupti, beatae animi iste doloribus. Doloribus veniam quibusdam cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod commodi expedita, quam animi eius officia, officiis pariatur repudiandae hic illo deserunt facere iure excepturi, provident dicta ea voluptates quos atque!</p>

<ion-button [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
<ion-button [routerDirection]="back"[routerLink]="['/chapter3']">Chapter III</ion-button>
<ion-button [routerDirection]="forward"[routerLink]="['/chapter5']">Chapter V</ion-button>


<footer class="pg">Page IV</footer>
</ion-content>
